body {
 margin: 50px 10%;
 font-family: "DejaVu Sans", sans-serif;
}

h1 {
 border-bottom: 3px double #aaa;
 color: #aaa;
}

div#footer {
 clear: both;
 padding-top: 20px;
 border-bottom: 3px double #aaa;
}

h1 span {
 padding-left: 3px;
 color: #000;
}

div.left {
 float: left;
 width: 48%;
 clear: both;
}

div.right {
 float: right;
 width: 48%;
}

a img {
 border: 0px;
}

dd {
 margin-bottom: 10px;
}

p, dd, dt {
 font-family: sans-serif;
 text-align: justify;
 line-height: 150%;
}
